* {
  box-sizing: border-box;
}
:root {
  --main-color: #39b4af;
  --alt-color: #2d9390;
  --h-color: #1d1d1d;
  --p-color: #3a3a3a;
  --line-hight: 1.6;
  --transition: 0.3s;
  --padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*Start components  */
.main-title {
  color: var(--h-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
/*End components  */
/* Start Landning */
.landing {
  position: relative;
  background-image: url(../imgs/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing .container .text {
  max-width: 620px;
  text-align: center;
}

.landing .container h1 {
  color: var(--h-color);
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
}
.landing .container p {
  font-size: 20px;
  font-weight: 100;
  color: var(--p-color);
  line-height: 1.5;
}
.landing .container a {
  color: white;
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 25px;
  margin: 30px auto 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.landing .container a:hover {
  background-color: var(--alt-color);
}
@media (max-width: 767px) {
  .landing {
    background-position: 50%;
  }
  .landing .container h1 {
    font-size: 35px;
  }
}
/* End Landning */
/* Start About  */
.about {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.about .container p {
  margin: 0 auto 20px;
  max-width: 700px;
  text-align: center;
  color: var(--p-color);
  font-size: 20px;
  line-height: var(--line-hight);
  font-weight: 100;
}
.about .container img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

/* Start About  */
