* {
  box-sizing: border-box;
}
:root {
  --main-color: #39b4af;
  --alt-color: #2d9390;
  --h-color: #1d1d1d;
  --p-color: #3a3a3a;
  --line-hight: 1.6;
  --transition: 0.3s;
  --padding: 60px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*Start components  */
.main-title {
  color: var(--h-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
/*End components  */
/* Start Landning */
.landing {
  position: relative;
  background-image: url(../imgs/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing .container .text {
  max-width: 620px;
  text-align: center;
}

.landing .container h1 {
  color: var(--h-color);
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
}
.landing .container p {
  font-size: 20px;
  font-weight: 100;
  color: var(--p-color);
  line-height: 1.5;
}
.landing .container a {
  color: white;
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 25px;
  margin: 30px auto 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.landing .container a:hover {
  background-color: var(--alt-color);
}
@media (max-width: 767px) {
  .landing {
    background-position: 50%;
  }
  .landing .container h1 {
    font-size: 35px;
  }
}
/* End Landning */
/* Start About  */
.about {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.about .container p {
  margin: 0 auto 20px;
  max-width: 700px;
  text-align: center;
  color: var(--p-color);
  font-size: 20px;
  line-height: var(--line-hight);
  font-weight: 100;
}
.about .container img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}
/* Start About  */
/* start stats  */
.stats {
  position: relative;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-color: var(--main-color);
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.stats .container .box {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.stats .container .box i {
  margin-right: 18px;
  font-size: 35px;
}
.stats .container .box .info span {
  display: block;
}
.stats .container .box .info span.num {
  font-weight: 500;
  font-size: 22px;
}
.stats .container .box .info span.text {
  font-size: 20px;
  font-weight: 300;
}
.stats .container .box:hover {
  color: black;
}
@media (max-width: 767px) {
  .stats .container .box {
    text-align: center;
    padding: 30px 20px;
    flex-direction: column;
  }
  .stats .container .box i {
    margin-right: 0;
  }
  .stats .container .box .info span.num {
    margin: 10px 0;
  }
}
/* End stats  */
/* Start Gallery  */
.gallery .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gallery .box {
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
.gallery .box::after,
.gallery .box::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.gallery .box::before {
  content: "";
  height: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.gallery .box:hover::before {
  height: 100%;
  width: 100%;
}
.gallery .box a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  font-size: 35px;
  color: white;
  opacity: 0;
}
.gallery .box:hover a {
  opacity: 1;
}
.gallery .box img {
  max-width: 100%;
  height: 100%;
}
.gallery > a {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: var(--h-color);
  width: fit-content;
  margin: 30px auto;
  padding: 15px 20px;
  position: relative;
}
.gallery > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  bottom: 5px;
  left: 20px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.gallery > a:hover:before {
  width: calc(100% - 40px);
}
/* End Gallery  */
